
<div>
    <div style="display: flex; gap:20px; margin-bottom:20px; width:100%">
    <h1 id={{user.role}} class="userRole">Bienvenido {{user.name}}</h1>
    <div id="hiddenUserData" style="display: none;" data-user-email={{user.email}}></div>

    {{#if user.img_profile}}
         <img style="width: 100px; height:100px; border: solid black 1px; border-radius:100% " src={{user.img_profile}} alt={{user.name}}>
    {{/if}}

                <div id="avatarDiv" style="display: flex; flex-direction:column; gap:15px; border: solid black 1px; padding: 20px; border-radius:20px; flex-grow: 1;">
                <form action="" id="avatarForm" style=" display:flex; justify-content:space-between; align-items:center; background-color: #3498db; border-radius: 5px;" >
                    <label for="du" id="avatarLabel" style="width:calc(100% - 50px);  color: #fff; cursor: pointer; text-align:center">Carga o modifica tu avatar &#187 
                        <input type="file" id="avatarInput"  style="display:none">
                    </label>
                    <button type="submit" style="width:50px; height:50px; padding: 10px; border-radius: 5px; background-color: rgb(12, 129, 57);  color:aliceblue ">  &#8593 </button>
                </form>
            </div>
    </div>
   
    <div  style="display: flex; justify-content:center; align-items: center; width:100%; gap:20px">
        <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(9, 62, 105); color:azure" id='logout'>Cerrar Sesion</button>

        <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(17, 228, 217); color:rgb(0, 0, 0)" id='accessAdmin'>Acceso Administrador</button>

        <button  id="cart"  value={{user.cart}} style="border: none; background-color: transparent; cursor:pointer; color:green "><svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="none">
        <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
        <div id="userIsPremium" style="display: flex; flex-direction:column; gap:15px; border: solid black 1px; padding: 20px; border-radius:20px" >
            <h3 style="margin: 0; ">Hacete premium</h3>
            <h5 style="margin: 0; ">Subi lo archivos y convertite automaticamente en un usuario premium</h5>

            <form action="" id="duForm" style=" display:flex; justify-content:space-between; align-items:center; background-color: #3498db; border-radius: 5px; " >
                <label for="du" id="ldu" style=" width:calc(100% - 50px); color: #fff; cursor: pointer; text-align:center">Sube tu DNI &#187 
                    <input type="file" id="du"  style="display:none">
               </label>
                <button type="submit "style="width:50px; height:50px; padding: 10px; border-radius: 5px; background-color: rgb(12, 129, 57);  color:aliceblue ">  &#8593 </button>
            </form>

            <form action="" id="cdForm" style=" display:flex; justify-content:space-between; align-items:center; background-color: #3498db; border-radius: 5px;" >
                <label for="du" id="lcd" style="width:calc(100% - 50px);  color: #fff; cursor: pointer; text-align:center">Sube tu Certificado de Domicilio &#187 
                    <input type="file" id="cd"  style="display:none">
               </label>
                <button type="submit "style="width:50px; height:50px; padding: 10px; border-radius: 5px; background-color: rgb(12, 129, 57);  color:aliceblue ">  &#8593 </button>
            </form>

            <form action="" id="ecForm" style=" display:flex; justify-content:space-between; align-items:center; background-color: #3498db; border-radius: 5px;" >
                <label for="du" id="lec" style="width:calc(100% - 50px);  color: #fff; cursor: pointer; text-align:center">Sube tu Estado de Cuenta &#187 
                    <input type="file" id="ec"  style="display:none">
               </label>
                <button type="submit "style="width:50px; height:50px; padding: 10px; border-radius: 5px; background-color: rgb(12, 129, 57);  color:aliceblue ">  &#8593 </button>
            </form>
        </div>
    </div>
   
</div>

<br>
{{#if isAdmin}}
    
{{/if}}
{{#if isValid}}
    
<h1>Todos los productos</h1>
    <div  style="display: flex; justify-content: center; align-items:center; width:80%; flex-wrap: wrap; gap: 10px; ">
        {{#each result.docs}}
            <div style="border: 1px black solid; border-radius: 20px; padding:10px;  width:500px;  height: 300px;">
                <h2>Title: {{{this.title}}}</h2>
                <h3>Description: {{this.description}}</h3>
                <h3>Price:  {{this.price}}</h3>
                <div>{{this.thumbnail}}</div>
                <p>Stock: {{this.stock}}</p>
                <br>
                <div style="display: flex; justify-content:center; align-items: center; width:100%;" id="btnContainer">
                <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(8, 53, 136); color:azure" id={{this.id}} value= {{this.stock}} class="btnAddCart">Agregar al carrito</button>
                </div>
                </div>
            <br>
            <br>
        {{/each}}
    </div>
    <br />

    <div>
        {{#if prevLink}}
        <a href={{prevLink}}>
                Anterior </a>
        {{/if}}

        {{!-- numero de pagina --}}
        &nbsp;
        {{result.page}}
        &nbsp;

        {{#if nextLink}}
        <a href={{nextLink}}>
            Siguiente -> </a>
        {{/if}}
    </div>
    
    {{#else}}
    <h1>No hay productos para mostrar</h1>
    {{/else}}
    
{{/if}}


<script src="/js/profile.js"></script>